<div class="container bg-light">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto">

      <h1 class="restaurant-show-title">編輯餐廳資訊</h1>

      <form action="/restaurants/{{restaurant._id}}?_method=PUT" method="POST">
        <ul class="py-3">

          <li class="d-flex justify-content-center mb-1">
            <p class="text-secondary">
              <i class="fab fa-cuttlefish pr-2"></i>
              中文名稱：
            </p>
            <input type="text" placeholder="中文名稱" name='name' value="{{restaurant.name}}">
          </li>

          <li class="d-flex justify-content-center mb-1">
            <p class="text-secondary">
              <i class="fas fa-font pr-2"></i>
              英文名稱：
            </p>
            <input type="text" placeholder="英文名稱" name='name_en' value="{{restaurant.name_en}}">
          </li>


          <li class="d-flex justify-content-center mb-1">
            <p class="text-secondary">
              <i class="fas fa-utensils pr-2"></i>
              類別：
            </p>
            <input type="text" placeholder="類別" name='category' value="{{restaurant.category}}">
          </li>


          <li class="d-flex justify-content-center mb-1">
            <p class="text-secondary">
              <i class="fas fa-map-marker-alt pr-2"></i>
              地址：
            </p>
            <input type="text" placeholder="地址" name='location' value="{{restaurant.location}}">
          </li>


          <li class="d-flex justify-content-center mb-1">
            <p class="text-secondary">
              <i class="fas fa-location-arrow pr-2 fa-xs"></i>
              Google Map 連結：
            </p>
            <input type="text" placeholder="google map" name='google_map' value="{{restaurant.google_map}}">
          </li>

          <li class="d-flex justify-content-center mb-1">
            <p class="text-secondary">
              <i class="fas fa-mobile-alt pr-2"></i>
              電話：
            </p>
            <input type="text" placeholder="電話" name='phone' value="{{restaurant.phone}}">
          </li>


          <li class="d-flex justify-content-center mb-1">
            <p class="text-secondary">
              <i class="fas fa-star fa-xs pr-2"></i>
              評分(0/5)：
            </p>
            <input type="text" placeholder="評分" name='rating' value="{{restaurant.rating}}">
          </li>

          <li class="d-flex justify-content-center mb-1">
            <p class="text-secondary">
              <i class="far fa-file-alt pr-2"></i>
              餐廳簡述：
            </p>
            <textarea type="text" name="description" id="" cols="30" rows="5" placeholder="餐廳簡述">
              {{restaurant.description}}
            </textarea>
          </li>

          <li class="d-flex justify-content-center mb-1">
            <p class="text-secondary">
              <i class="fas fa-images pr-2"></i>
              餐廳照片：
            </p>
            <input type="text" placeholder="餐廳照片網址" name='image' value="{{restaurant.image}}">
          </li>

          <li style="list-style: none;">
            <hr>
          </li>

          <li class="target d-flex justify-content-center align-items-center mt-2">

            <div class="mr-2">
              <button type="submit" class=' btn btn-success'>
                <i class="far fa-save"></i>
              </button>
            </div>

            <div class="mr-2">
              <form action="/restaurants/{{restaurant._id}}?_method=DELETE" method="POST">

                <button type="submit" class='btn btn-danger delete' style="height: 100%;">
                  <i class="far fa-trash-alt delete"></i>
                </button>

              </form>
            </div>
            <div>
              <a href="/" class='btn btn-info'>
                <i class="fas fa-sign-out-alt"></i>
              </a>
            </div>

          </li>

        </ul>
      </form>

      <hr>
      {{!-- <div class='d-flex justify-content-center'>
        <form action="/restaurants/{{restaurant._id}}?_method=DELETE" method="POST">
          <button type="submit" class='btn btn-danger mb-5 mr-2 delete'>Delete</button>
        </form>
        <a href="/"><button class='btn btn-info mb-5 justify-content-center'>Return</button></a>
      </div> --}}
    </div>
  </div>
</div>